@media (min-width: 768px) and (max-width: 1439px) {

    .block-text_about-us {
        margin: 0px 40px 0px 0px;
    }

    .block-text_our-expereince {
        margin-left: 40px;
    }

    .block-text__h2 {
        font-size: 31px;
        font-weight: 600;
        line-height: 39px;
    }

    .button-contact-us_hero-margin {
        margin-top: 14px;
    }

    .button-contact-us_about-us-margin {
        margin-top: 14px;
    }

    .button-contact-us_our-expereince-margin {
        margin-top: 13px;
    }

    .logo {
        font-weight: 600;
        line-height: 25px;
        font-size: 20px;
    }

    .hero {
        padding-bottom: 73px;
        grid-template-columns: minmax(min-content, max-content) minmax(max-content, 1fr);
        column-gap: 19px;
        row-gap: 73px;
    }

    .hero__header {
        grid-template-areas: 'hero__header-A hero__header-B hero__header-C';
        grid-template-columns: max-content max-content minmax(max-content, 83px);
        column-gap: 28px;
        justify-content: space-between;
        padding: 27px 38px 28px 40px;
    }

    .hero__header__nav {
        grid-template-columns: repeat(6, fit-content(100%));
        column-gap: 25px;
        justify-self: center;

        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
    }

    .hero__image {
        margin: 16px 53px 0px 0px;
        width: 307px;
        height: 207px;
    }

    .hero__block-text {
        row-gap: 18px;
    }

    .hero__block-text_margin {
        margin-left: 40px;
    }

    .hero__block-text__h2 {
        font-size: 39px;
        line-height: 48px;
    }

    .hero__social {
        top: 139px;
    }

    .about-us {
        row-gap: 84px;
        column-gap: 52px;
    }

    .about-us__img {
        margin: 121px 0px 0px 62px;
    }

    .about-us__cards {
        padding: 0px 40px;
        grid-template-columns: repeat(auto-fit, 154px);
        column-gap: 24px;
        row-gap: 24px;
    }

    .about-us__card {
        row-gap: 25px;
    }

    .about-us__wrap {
        margin: 35px 0px 0px 0px;
        width: 50px;
        height: 50px;
    }

    .about-us__card__p{
        margin-right: 11px;
        margin-left: 10px;
    }

    .our-expereince {
        column-gap: 24px;
    }

    .our-expereince__group {
        margin-top: 42px;
        margin-right: 40px;
        grid-template-columns: repeat(2, 162px);
        grid-template-rows: repeat(343, 1px);
        column-gap: 8px;
    }

    .our-expereince__group__card {
        row-gap: 10px;
    }

    .our-expereince__group__h3 {
        font-size: 25px;
        font-weight: 500;
        line-height: 31px;
    }

    .our-expereince__group__card__p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .our-expereince__group__card-global {
        grid-row-start: 1;
        grid-row-end: 151;
        background-color: aqua;
    }

    .our-expereince__group__card-project {
        grid-row-start: 36;
        grid-row-end: 186;
        background-color: aquamarine;
    }

    .our-expereince__group__card-team {
        grid-row-start: 162;
        grid-row-end: 312;
        background-color: bisque;
    }

    .our-expereince__group__card-4-our {
        grid-row-start: 194;
        grid-row-end: 344;
        background-color: burlywood;
    }

}