@media (max-width: 1439px) {
    
    .hero__header::after {
        width: 100%;
    }

    .button-contact-us {
        margin-top: 7px;
    }

    .about-us__img {
        height: 192px;
    }

    .about-us__card__p {
        margin: 0px 0px 18px 0px;
    }

}