@media (min-width: 768px) and (max-width: 1440px) {

    .logo {
        font-weight: 600;
        line-height: 25px;
        font-size: 20px;
    }

    .header {
        grid-template-areas:    'header-A header-B header-C';
        grid-template-columns: max-content minmax(max-content, 1fr) minmax(max-content, 83px);
        column-gap: 28px;
        padding: 27px 38px 28px 40px;
    }

    .header__nav {
        grid-template-columns: repeat(6, fit-content(100%));
        column-gap: 25px;
        justify-self: center;

        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
    }

}