@media (max-width: 767px) {

    .block-text {
        justify-items: center;
        text-align: center;
    }

    .block-text_about-us {
        margin: 0px 25px 0px 24px;
    }
    
    .block-text_our-expereince {
        margin: 0px 27px;
    }

    .block-text__h2 {
        font-size: 25px;
        font-weight: 500;
        line-height: 31px;
    }

    .button-contact-us_hero-margin {
        margin-top: 9px;
    }

    .button-contact-us_about-us-margin {
        margin-top: 12px;
    }

    .button-contact-us_our-expereince-margin {
        margin-top: 8px;
        
    }

    .logo {
        font-weight: 500;
        line-height: 31px;
        font-size: 25px;
    }

    .hero {
        row-gap: 50px;
        padding-bottom: 50px;
        grid-template-areas:    'hero-A'
                                'hero-B'
                                'hero-C';
                                grid-template-columns: 1fr;
    }

    .hero__header {
        grid-template-areas: 'hero__header-A hero__header-C hero__header-B';
        grid-template-columns: repeat(3, 1fr);
        padding: 9px 13px 10px 14px;
    }

    .hero__header__nav {
        width: 24px;
        height: 24px;
        justify-self: end;
        background: url(../images/2.svg) no-repeat;
        cursor: pointer;        
    }

    .hero__header__nav__a {
        position: absolute;
        visibility: hidden;
        width: 100vw;
        left: 0px;        

        text-align: center;
        background-color: #FFF7F4;
        font-weight: 500;
        line-height: calc(683px / 6);
        font-size: 25px;
    }
    .hero__header__nav__a:hover {
        color: #FF5300;
    }

    .hero__header__nav:focus > .hero__header__nav__a {
        visibility: visible;     
    }

    .hero__header__nav:focus > .a-Home {
        top: 50px;
    }
    .hero__header__nav:focus > .a-About {
        top: 163px;
    }
    .hero__header__nav:focus > .a-Work {
        top: 276px;
    }
    .hero__header__nav:focus > .a-Clients {
        top: 389px;
    }
    .hero__header__nav:focus > .a-Blog {
        top: 502px;
    }    
    .hero__header__nav:focus > .a-Contact {
        top: 615px;
    }    

    .hero__header__choiсe-of-style {
        justify-self: center;
    }

    .hero__block-text {
        row-gap: 18px;
        justify-items: center;
    }

    .hero__image {
        width: 335px;
        height: 225px;
    }

    .hero__block-text_margin {
        margin: 0px 27px 0px 26px;
    }

    .hero__block-text__h2 {
        font-size: 31px;
        line-height: 39px;
        text-align: center;
    }

    .hero__block-text__p {
        text-align: center;
    }

    .hero__wrap-social {
        width: 100%;
    }

    .hero__social {
        display: none;
    }

    .about-us {
        padding: 50px 0px;
        row-gap: 50px;

        grid-template-areas:    'about-us-A'
                                'about-us-B'
                                'about-us-C';
        grid-template-columns: 1fr;
    }

    .about-us__cards {
        padding: 0px 16px;
        grid-template-columns: repeat(auto-fit, 343px);
        column-gap: 25px;
        row-gap: 25px;
        justify-content: center;
    }

    .about-us__card {
        width: 100%;
        row-gap: 37px;
    }

    .about-us__wrap {
        margin: 25px 0px 0px 0px;
        width: 70px;
        height: 70px;
    }

    .about-us__card__p {
        margin-right: 43px;
        margin-left: 42px;

        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
    }

    .our-expereince {
        padding: 50px 0px;
        grid-template-areas:    'about-us-B'
                                'our-expereince-A';
        row-gap: 50px;
    }
    
    .our-expereince__group {
        grid-template-columns: repeat(auto-fit, 343px);
        column-gap: 25px;
        row-gap: 25px;
    }

    .our-expereince__group__card {
        row-gap: 18px;
    }

    .our-expereince__group__h3 {
        margin-top: 71px;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
    }

    .our-expereince__group__card__p {
        margin-bottom: 71px;
        font-size: 25px;
        font-weight: 500;
        line-height: 31px;
    }

}