@media (max-width: 767px) {

    .logo {
        font-weight: 500;
        line-height: 31px;
        font-size: 25px;
    }

    .hero {
        row-gap: 50px;
        padding-bottom: 50px;
        grid-template-areas:    'hero-A'
                                'hero-B'
                                'hero-C';
    }

    .hero__header {
        grid-template-areas: 'hero__header-A hero__header-C hero__header-B';
        grid-template-columns: repeat(3, 1fr);
        padding: 9px 13px 10px 14px;
    }

    .hero__header__nav {
        width: 24px;
        height: 24px;
        justify-self: end;
        background: url(../images/2.svg) no-repeat;
        cursor: pointer;        
    }

    .hero__header__nav__a {
        position: absolute;
        visibility: hidden;
        width: 100vw;
        left: 0px;        

        text-align: center;
        background-color: #FFF7F4;
        font-weight: 500;
        line-height: calc(683px / 6);
        font-size: 25px;
    }
    .hero__header__nav__a:hover {
        color: #FF5300;
    }

    .hero__header__nav:focus > .header__nav__a {
        visibility: visible;        
    }

    .hero__header__nav:focus > .a-Home {
        top: 50px;
    }
    .hero__header__nav:focus > .a-About {
        top: 163px;
    }
    .hero__header__nav:focus > .a-Work {
        top: 276px;
    }
    .hero__header__nav:focus > .a-Clients {
        top: 389px;
    }
    .hero__header__nav:focus > .a-Blog {
        top: 502px;
    }    
    .hero__header__nav:focus > .a-Contact {
        top: 615px;
    }    

    .hero__header__choiсe-of-style {
        justify-self: center;
    }

    .hero__section {
        row-gap: 18px;
        justify-items: center;
    }

    .hero__image {
        width: 335px;
        height: 225px;
    }

    .hero__section_margin {
        margin: 0px 27px 0px 26px;
    }

    .hero__section__h2 {
        font-size: 31px;
        line-height: 39px;
        text-align: center;
    }

    .hero__section__p {
        text-align: center;
    }

    .hero__section__button {
        margin-top: 7px;
    }

    .hero__social {
        display: none;
    }

}