@media (min-width: 1440px) {

    .logo {
        font-weight: 600;
        line-height: 48px;
        font-size: 39px;
    }

    .header {
        grid-template-areas:    'header-A header-B header-C';
        grid-template-columns: max-content 1fr max-content;
        justify-content: center;
        justify-items: center;
        padding: 26px 135px;
    }

    .header__nav {
        margin-left: 77px;
        margin-right: 77px;
        grid-template-columns: repeat(6, fit-content(100%));
        column-gap: 38px;
        justify-self: start;

        font-weight: 500;
        line-height: 25px;
        font-size: 20px;
    }
}