@media (min-width: 1440px) {

    .block-text__h2 {
        margin: 7px 0px 0px 0px;
        font-size: 39px;
        font-weight: 600;
        line-height: 48px;
    }

    .button-contact-us_hero-margin {
        margin-top: 32px;
    }

    .logo {
        font-weight: 600;
        line-height: 48px;
        font-size: 39px;
    }

    .hero {
        padding-bottom: 157px;
        column-gap: 35px;
        row-gap: 149px;
    }

    .hero__header {
        grid-template-areas: 'hero__header-A hero__header-B hero__header-C';
        grid-template-columns: max-content minmax(max-content, 1fr) minmax(max-content, 162px);
        column-gap: 77px;
        padding: 26px 135px;
    }

    .hero__header::after {
        width: 100vw;
    }

    .hero__header__nav {
        grid-template-columns: repeat(6, fit-content(100%));
        column-gap: 38px;
        justify-self: center;

        font-weight: 500;
        line-height: 25px;
        font-size: 20px;
    }

    .hero__image {
        margin-right: 138px;
        width: 639px;
        height: 429px;
    }

    .hero__block-text {
        row-gap: 11px;
    }

    .hero__block-text_margin {
        margin: 27px 0px 0px 135px;
    }

    .hero__block-text__h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
    }

    .hero__social {
        top: 317px;
    }
    
    .about-us {
        row-gap: 60px;
        column-gap: 73px;
    }

    .about-us::after {
        width: 100vw;
    }

    .about-us__img {
        height: 352px;
        margin: 83px 0px 0px 147px;
    }

    .block-text {
        margin: 0px 135px 0px 0px;
        justify-items: start;
    }

    .about-us__cards {
        padding: 0px 135px;
        grid-template-columns: repeat(auto-fit, 270px);
        column-gap: 30px;
        row-gap: 30px;
    }

    .about-us__card {
        row-gap: 36px;
    }

    .about-us__wrap {
        margin: 25px 0px 0px 0px;
        width: 70px;
        height: 70px;
    }

    .about-us__card__p {
        margin: 0px 33px 21px 31px;
    }

}