@media (min-width: 1440px) {

    .logo {
        font-weight: 600;
        line-height: 48px;
        font-size: 39px;
    }

    .hero {
        padding-bottom: 153px;
        column-gap: 35px;
        row-gap: 153px;
    }

    .hero__header {
        grid-template-areas: 'hero__header-A hero__header-B hero__header-C';
        grid-template-columns: max-content minmax(max-content, 1fr) minmax(max-content, 162px);
        column-gap: 77px;
        padding: 26px 135px;
    }

    .hero__header::after {
        width: 100vw;
    }

    .hero__header__nav {
        grid-template-columns: repeat(6, fit-content(100%));
        column-gap: 38px;
        justify-self: center;

        font-weight: 500;
        line-height: 25px;
        font-size: 20px;
    }

    .hero__image {
        margin-right: 138px;
        width: 639px;
        height: 429px;
    }

    .hero__section {
        row-gap: 11px;
    }

    .hero__section_margin {
        margin: 23px 0px 0px 135px;
    }

    .hero__section__h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
    }

    .hero__section__button {
        margin-top: 39px;
    }

    .hero__social {
        top: 317px;
    }

}