@media (min-width: 768px) {

    .block-text__h2 {
        text-align: left;
    }

    .hero {
        grid-template-areas:    'hero-A hero-A'
                                'hero-C hero-B';
    }

    .hero__header__choiсe-of-style {
        justify-self: end;
    }

    .hero__header::after {
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    }

    .hero__block-text {
        justify-items: start;
    }

    .hero__block-text__h2 {
        text-align: left;
    }

    .hero__block-text__p {
        text-align: left;
    }

    .hero__image {
        justify-self: start;
    }

    .hero__wrap-social {
        width: 100vw;
    }

    .hero__social {
        display: grid;
    }

    .about-us {
        padding: 120px 0px;
        grid-template-areas:    'about-us-A about-us-B'
                                'about-us-C about-us-C';
    }

    .about-us__img {
        justify-self: end;
    }

    .about-us__cards {
        justify-content: space-evenly;
    }

    .about-us__card__p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

}