@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/Work-Sans/500/WorkSans-Medium.eot') format('embedded-opentype'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.woff2') format('woff2'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.woff') format('woff'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.ttf') format('truetype'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.svg#WorkSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    /* min-width: 375px; */
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    padding: 9px 13px 10px 14px;
}

.logo {
    justify-self: start;

    text-decoration: none;
    font-family: 'Work Sans';
    font-weight: 500;
    line-height: 31px;
    font-size: 25px;
}

.logo__span-Digi {
    color: #FF5300;
}

.logo__span-ency {
    color: #373737;
}

.nav {
    grid-template-columns: repeat(6, fit-content(100%));
    column-gap: 25px;
}

.header__icon {
    justify-self: center;
}

.header__button-menu {
    justify-self: end;
    background: url(../images/2.svg) no-repeat;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

@media (max-width: 767px) {
    .nav {
        display: none;
    }
}

@media (min-width: 768px) {
    .header {
        grid-template-columns: fit-content(100%) 1fr fit-content(100%);
    }

    .nav {
        display: grid;
    }

    .header__button-menu {
        display: none;
    }
}

@media (min-width: 1440px) {
    
}