@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/Work-Sans/400/WorkSans-Regular.eot') format('embedded-opentype'),
        url('../fonts/Work-Sans/400/WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/Work-Sans/400/WorkSans-Regular.woff') format('woff'),
        url('../fonts/Work-Sans/400/WorkSans-Regular.ttf') format('truetype'),
        url('../fonts/Work-Sans/400/WorkSans-Regular.svg#WorkSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/Work-Sans/500/WorkSans-Medium.eot') format('embedded-opentype'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.woff2') format('woff2'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.woff') format('woff'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.ttf') format('truetype'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.svg#WorkSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/Work-Sans/600/WorkSans-SemiBold.eot') format('embedded-opentype'),
        url('../fonts/Work-Sans/600/WorkSans-SemiBold.woff2') format('woff2'),
        url('../fonts/Work-Sans/600/WorkSans-SemiBold.woff') format('woff'),
        url('../fonts/Work-Sans/600/WorkSans-SemiBold.ttf') format('truetype'),
        url('../fonts/Work-Sans/600/WorkSans-SemiBold.svg#WorkSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    /* min-width: 375px; */
}

.header {
    display: grid;    
    justify-items: center;
    align-items: center;    
    background-color: #FFFFFF;
}

.logo {
    grid-area: header-A;
    justify-self: start;

    text-decoration: none;
    font-family: 'Work Sans';
    cursor: pointer;
}

.logo:focus {
    outline: 1px solid #FF5300;
}

.logo__span-Digi {
    color: #FF5300;
}

.logo__span-ency {
    color: #373737;
}

.header__nav {
    grid-area: header-B;
    display: grid;
    justify-items: center;
    align-items: center;
    user-select: none;
}

.header__nav:focus {
    outline: 1px solid #FF5300;
}

.header__nav__a {
    color: #373737;
    text-decoration: none;
    font-family: 'Work Sans';
    color: #000000;
}

.header__nav__a:focus {
    outline: 1px solid #FF5300;
}

.header__style__icon {
    grid-area: header-C;
    justify-self: center;
    cursor: pointer;
}

.header__style__icon:focus {
    outline: 1px solid #FF5300;
}

@media (max-width: 767px) {

    .logo {
        font-weight: 500;
        line-height: 31px;
        font-size: 25px;
    }

    .header {
        grid-template-areas:    'header-A header-C header-B';
        grid-template-columns: repeat(3, 1fr);
        padding: 9px 13px 10px 14px;
    }

    .header__nav {
        width: 24px;
        height: 24px;
        justify-self: end;
        background: url(../images/2.svg) no-repeat;
        cursor: pointer;        
    }

    .header__nav__a {
        position: absolute;
        visibility: hidden;
        width: 100vw;
        left: 0px;        

        text-align: center;
        background-color: #FFF7F4;
        font-weight: 500;
        line-height: calc(683px / 6);
        font-size: 25px;
    }
    .header__nav__a:hover {
        color: #FF5300;
    }

    .header__nav:focus > .header__nav__a {
        visibility: visible;        
    }

    .header__nav:focus > .a-Home {
        top: 50px;
    }
    .header__nav:focus > .a-About {
        top: 163px;
    }
    .header__nav:focus > .a-Work {
        top: 276px;
    }
    .header__nav:focus > .a-Clients {
        top: 389px;
    }
    .header__nav:focus > .a-Blog {
        top: 502px;
    }    
    .header__nav:focus > .a-Contact {
        top: 615px;
    }    

}

@media (min-width: 768px) and (max-width: 1440px) {

    .logo {
        font-weight: 600;
        line-height: 25px;
        font-size: 20px;
    }

    .header {
        grid-template-areas:    'header-A header-B header-C';
        grid-template-columns: max-content 1fr max-content;
        padding: 27px 38px 28px 40px;
    }

    .header__nav {
        margin-left: 28px;
        margin-right: 29px;
        grid-template-columns: repeat(6, fit-content(100%));
        column-gap: 25px;

        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
    }

}

@media (min-width: 1440px) {
    
}