@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/Work-Sans/400/WorkSans-Regular.eot') format('embedded-opentype'),
        url('../fonts/Work-Sans/400/WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/Work-Sans/400/WorkSans-Regular.woff') format('woff'),
        url('../fonts/Work-Sans/400/WorkSans-Regular.ttf') format('truetype'),
        url('../fonts/Work-Sans/400/WorkSans-Regular.svg#WorkSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/Work-Sans/500/WorkSans-Medium.eot') format('embedded-opentype'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.woff2') format('woff2'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.woff') format('woff'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.ttf') format('truetype'),
        url('../fonts/Work-Sans/500/WorkSans-Medium.svg#WorkSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    /* min-width: 375px; */
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    padding: 9px 13px 10px 14px;
}

.logo {
    justify-self: start;

    text-decoration: none;
    font-family: 'Work Sans';
    font-weight: 500;
    line-height: 31px;
    font-size: 25px;
    cursor: pointer;
}

.logo:focus {
    outline: 1px solid #FF5300;
}

.logo__span-Digi {
    color: #FF5300;
}

.logo__span-ency {
    color: #373737;
}

.nav {
    width: 24px;
    height: 24px;
    justify-self: end;
    display: grid;

    background: url(../images/2.svg) no-repeat;
}

.nav:focus {
    outline: 1px solid #FF5300;
}

.nav_a {
    color: #373737;
}

.style__icon {
    justify-self: center;
    cursor: pointer;
}

.style__icon:focus {
    outline: 1px solid #FF5300;
}

@media (max-width: 767px) {

    .nav {
        cursor: pointer;
    }

    .nav_a {
        position: absolute;
        visibility: hidden;
    }
    .nav_a:hover {
        color: #FF5300;
    }

    .nav:focus > .nav_a {
        visibility: visible;
        top: 51px;
        left: 0px;
        line-height: calc(683px / 6);
        width: 100vw;

        text-decoration: none;
        text-align: center;
        background-color: #FFF7F4;
    }

    .nav:focus > .a-Home {
        top: 51px;
    }
    .nav:focus > .a-About {
        top: 164px;
    }
    .nav:focus > .a-Work {
        top: 277px;
    }
    .nav:focus > .a-Clients {
        top: 390px;
    }
    .nav:focus > .a-Blog {
        top: 503px;
    }    
    .nav:focus > .a-Contact {
        top: 616px;
    }    

}

@media (min-width: 768px) {
    /* .header {
        grid-template-columns: fit-content(100%) 1fr fit-content(100%);
    } */
}

@media (min-width: 1440px) {
    
}